<nav>
    <div class="site-title">
      <a href="/admissions/ug/updates/all"><h1>NIT Jalandhar</h1></a>
      <p>Admission Updates</p>
    </div>
    <ul>
      <li><a href="/admissions/ug/updates/all">All</a></li>
      <li><a href="/admissions/ug/updates/disabled">Disabled</a></li>
      <li><a href="/admissions/ug/updates/create">Create</a></li>
    </ul>
</nav>