<nav>
    <div class="site-title">
      <a href="/admissions"><h1>NIT Jalandhar</h1></a>
      <p>Admission Updates</p>
    </div>
    <ul>
      <li><a href="/admissions">All Updates</a></li>
      <li><a href="/admissions/ug/updates/create">Create</a></li>
    </ul>
</nav>