<nav>
    <div class="site-title">
      <a href="/"><h1>NIT Jalandhar</h1></a>
      <p>Admission Updates</p>
    </div>
    <ul>
      <li><a href="/">All Updates</a></li>
      <li><a href="/create">Create</a></li>
    </ul>
</nav>