<html>
    <%- include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>   

        <div class="not-found content">
            <% if(locals.err) { %> 
                <%= locals.err %> 
            <% } else { %>
                Oops! page not found :(
            <% } %>  
        </div>

        <%- include('./partials/footer.ejs') %>
    </body>
</html>